<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITourDBOperationsService_Bashar" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITourAuthenticateUserService_Bashar">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3030/TourService_Bashar"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITourDBOperationsService_Bashar"
                contract="ServiceReference1.ITourDBOperationsService_Bashar"
                name="BasicHttpBinding_ITourDBOperationsService_Bashar" />
            <endpoint address="net.tcp://localhost:4040/TourService_Bashar"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITourAuthenticateUserService_Bashar"
                contract="ServiceReference1.ITourAuthenticateUserService_Bashar"
                name="NetTcpBinding_ITourAuthenticateUserService_Bashar">
                <identity>
                    <userPrincipalName value="DESKTOP-E0OV21G\14379" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>